<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinerGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MinerGame.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinerGame.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MinerGame.Properties.Settings>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="SoundsVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="FreePort" serializeAs="String">
                <value>False</value>
            </setting>
        </MinerGame.Properties.Settings>
        <MinerGame.Settings>
            <setting name="SoundsVolume" serializeAs="String">
                <value>0</value>
            </setting>
        </MinerGame.Settings>
    </userSettings>
    <applicationSettings>
        <MinerGame.Settings>
            <setting name="MusicVolume" serializeAs="String">
                <value>0</value>
            </setting>
        </MinerGame.Settings>
    </applicationSettings>
</configuration>